body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0px;
  line-height: 14px;
}

@media screen and (min-width: 769px) {
  body {
    font-size: 20px;
  }
  p {
    line-height: 40px;
  }
}
.header {
  background-image: url("../img/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0px;
  padding: 0px;
  height: 300px;
}
.header__liens {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 1px rgba(39, 37, 37, 0.527);
  justify-content: space-between;
  background-color: black;
}
.header__liens__reseaux {
  display: flex;
  font-size: 12px;
  gap: 10px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
}
.header__liens__reseaux__lien {
  color: white;
}
.header__liens__reseaux__lien:visited {
  color: white;
}
.header__liens__coordonnees {
  display: flex;
  height: 1em;
  font-size: 9px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  font-family: "Space Grotesk", sans-serif;
}
.header__liens__coordonnees__mail {
  color: rgb(255, 255, 255);
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  margin-left: 10px;
}
.header__menupc {
  display: none;
}
.header__titre {
  letter-spacing: 2px;
  color: rgb(209, 199, 199);
  text-shadow: 1px 1px 1px black;
  text-align: center;
  padding-top: 50px;
  box-shadow: 1px 1px 1px rgba(39, 37, 37, 0.527);
}
.header__titre__h1 {
  padding-top: 10px;
  font-size: 26px;
  margin: 0px;
  backdrop-filter: blur(0.3px);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5844537644) 0%, rgba(20, 20, 20, 0.4976190305) 0%);
}
.header__titre__h2 {
  padding-bottom: 10px;
  font-size: 22px;
  font-variant: small-caps;
  margin: 0px;
  backdrop-filter: blur(0.3px);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5844537644) 0%, rgba(20, 20, 20, 0.4976190305) 0%);
}

@media screen and (min-width: 480px) {
  .header__liens__reseaux {
    font-size: 24px;
  }
  .header__liens__coordonnees {
    color: white;
    font-size: 12px;
    gap: 0px;
    margin-left: 20px;
  }
  .header__liens__coordonnees__mail {
    color: white;
  }
}
@media screen and (min-width: 769px) {
  .header {
    height: 500px;
  }
  .header__titre {
    padding-top: 120px;
  }
  .header__titre__h1 {
    font-size: 60px;
  }
  .header__titre__h2 {
    font-size: 50px;
  }
}
.main {
  background-image: url("../img/fond3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0px;
}
.main__articles {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__articles__competences__categories {
  text-align: center;
  font-size: 15px;
}
.main__articles__competences__logos {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
}
.main__articles__competences__logos__logo__icone {
  font-size: 30px;
}
.main__articles__competences__logos__logo__titre {
  margin: 10px 0px;
}

#blocs {
  flex-direction: column;
  align-items: center;
}

.bloc {
  display: flex;
  gap: 20px;
}

#html {
  color: rgb(60, 60, 201);
}

#css {
  color: orangered;
}

#sass {
  color: rgb(228, 9, 144);
}

#javascript {
  color: rgb(233, 233, 2);
}

#nodejs {
  color: rgb(12, 163, 12);
}

#react {
  color: rgb(0, 182, 182);
}

#python {
  color: rgb(46, 46, 133);
}

#php {
  color: rgb(70, 1, 126);
}

#mysql {
  color: orangered;
}

#windows {
  color: rgb(17, 130, 206);
}

#terminal {
  color: rgb(126, 2, 126);
}

@media screen and (min-width: 769px) {
  .main__articles__competences__categories {
    font-size: 25px;
    margin: 50px 0px;
  }
  .main__articles__competences__logos__logo__icone {
    font-size: 35px;
  }
  .main__articles__competences__logos__logo__titre {
    font-size: 22px;
  }
  .main__articles__competences__logos {
    gap: 50px;
  }
  .bloc {
    gap: 50px;
  }
}
#projets {
  padding-bottom: 30px;
}

#portfolio {
  margin-bottom: 25px;
}

.main__articles__soustitre {
  font-size: 14px;
  margin: 0px;
}

img {
  width: 150px;
  display: block;
  margin: auto;
  transition: transform 0.5s ease;
}

img:hover {
  transform: scale(1.1);
}

#projets #html, #projets #css, #projets #javascript {
  color: black;
}

@media screen and (min-width: 480px) {
  .main__articles__article {
    display: flex;
  }
  img {
    width: 150px;
  }
}
@media screen and (min-width: 769px) {
  img {
    width: 300px;
    margin-left: 30px;
  }
  .main__articles__soustitre {
    font-size: 20px;
  }
  .main__articles__article {
    align-items: center;
  }
}
.footer {
  background-color: white;
  height: 40px;
  border-top: 0.1em solid #171717;
  color: rgb(54, 53, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__lien {
  color: rgb(54, 53, 53);
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  .footer {
    height: 100px;
  }
}
.nav {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0px;
  font-size: 10px;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px rgba(99, 99, 99, 0.158);
}
.nav__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15px;
  margin: 0px;
}
.nav__menu__liens {
  color: rgb(59, 58, 58);
  text-decoration: none;
}
.nav__menu__liens:hover {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  .nav {
    font-size: 18px;
  }
  .nav__menu {
    height: 50px;
  }
}
article {
  background-color: rgba(255, 255, 255, 0.856);
  width: 80%;
  margin: auto;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(82, 81, 81, 0.541);
}

.main__articles__titre {
  margin: 10px 0px 20px 0px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.main__articles__paragraphe {
  margin: 10px 20px;
  text-align: justify;
}

@media screen and (min-width: 480px) {
  article {
    width: 80%;
  }
}
@media screen and (min-width: 769px) {
  article {
    width: 60%;
    padding: 50px;
  }
}
tr {
  height: 40px;
}

td:nth-child(1) {
  width: 30%;
  text-align: right;
  vertical-align: top;
  letter-spacing: 1px;
  font-size: 10px;
}

td:nth-child(2) {
  padding-left: 10px;
  vertical-align: top;
}

@media screen and (min-width: 769px) {
  tr {
    height: 70px;
  }
  td:nth-child(1) {
    font-size: 18px;
  }
  td:nth-child(2) {
    padding-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
