.nav {
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0px;
    font-size: 10px;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px rgba(99, 99, 99, 0.158);

    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 15px;
        margin: 0px;

        &__liens {
            color: rgb(59, 58, 58);
            text-decoration: none;
        }

        &__liens:hover {
            text-decoration: underline;
        }


    }
}

@media screen and (min-width: 1280px) {
.nav {
    font-size: 18px;

    &__menu {
        height: 50px;
    }

}

}