.contact-button {
    text-transform: uppercase;
    width: fit-content;
    padding: 15px 25px;
    font-weight: 600;
    color: $grey;
    background-color: rgb(228, 220, 220);
    box-shadow: $boxShadow;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1 ;
    transition: background-color .5s;
}

.contact-button:hover {
    background-color: rgb(202, 194, 194);
}


@media screen and (min-width: 769px) {
    .contact-button {
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 12px;
    }
}

@media screen and (min-width: 1280px) {

    .contact-button {
        font-size: 18px;
        padding: 4px 20px;
        border-radius: 10px;
        margin-top: 80px;
    }
}