.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 100px;
    top: 0;

    &__button {
        align-self: flex-end;
        margin-top: 10px;
        margin-right: 10px;
    }

    &__container {
        background: url(./../Assets/Background/background.jpg);
        background-size: cover;
        margin: 20% 30px;
        border-radius: 20px;
        box-shadow: $boxShadow;

        
        &__background {
            border-radius: 10px;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.93);
        }

        &__title {
            text-align: center;
        }

        &__detail {
            text-align: center;
            margin-bottom: 30px;
            color:$grey;
            line-height: 25px;
            font-weight: 300;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__bloc {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            &__bloc label {
                color: $grey;
            }

            &__bloc input,
            textarea {
                font-size: 18px;
                letter-spacing: 3px;
                height: 30px;
                border-radius: 4px;
                box-shadow: 1px 1px 3px rgb(219, 219, 219);
                border: none;
                padding: 10px;
                color: $grey;
                background-color: rgb(255, 255, 255);

            }

            &__bloc textarea {
                height: 150px;
                resize: none;
            }
        }
    }
}

.contact-message {
    color: $grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 25px;
}


@media screen and (min-width: 769px) {

    .contact-message {
        font-size: 22px;
        line-height: 40px;
        letter-spacing: 6px;
        padding: 0px 50px;
    }

    

    .contact {

        &__container {
            margin: 20% 80px;

            &__background {
                padding: 80px 50px;
            }

            &__detail {
                font-size: 36px;
                line-height: 50px;
            }

            &__form {

                &__bloc input, textarea {
                    font-size: 30px;
                }

                &__bloc input {
                    height: 60px;
                }

                &__bloc textarea {
                    height: 200px;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {

    .contact-message {
        font-size: 24px;
        margin-bottom: 50px;
    }


    .contact {
        height: 100%;
     
        &__container {
            margin: 80px 200px;

            &__background {
                flex-direction: row;
            }

            &__title {
                font-size: 30px !important;
            }
    
            &__detail {
                font-size: 24px;
            }

            &__form  {
                width: 90%;

                &__bloc input, textarea {
                    font-size: 24px;
                }

                &__bloc input {
                    height: 40px;
                }
            }

        }
    }
}





