footer {
    color: $grey;
    font-style: italic;
    font-size: 10px;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(241, 241, 241);
    background-color: white;
    width: 100%;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

@media screen and (min-width: 700px) {

    footer {
        font-size: 14px;
        height: 80px;
    }
}





